{% load static %}
<html>
	<head>
		<title>Test Quiz</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	</head>
	<body>
		<div class="container">
			<form id="contact" action="" method="post">
			<h3>Student Information</h3>
<!--			<h4>Contact us for custom quote</h4>-->
			<fieldset>
				<label>Your Name</label>
			  	<input type="text" tabindex="1" required autofocus>
			</fieldset>
			<fieldset>
				<a>Your Class</a>
				<label>
			  	<input class="radio" name="cls" type="radio" value="std2" tabindex="2">STD-2
				</label>
				<label>
			  	<input class="radio" name="cls" type="radio" value="std3" tabindex="2">STD-3
				</label>
				<label>
			  	<input class="radio" name="cls" type="radio" value="std4" tabindex="2">STD-4
				</label>
				<label>
			  	<input class="radio" name="cls" type="radio" value="std5" tabindex="2">STD-5
				</label>
			</fieldset>
			<fieldset>
				<label>Teacher's Name</label>
			  	<select name="teacher" id="dropdown" required="">
					<option selected="" value="" disabled="">Select an option</option>
					<option value="morium">Bibi Morium</option>
					<option value="nadia">Nadia Afrin Bintu</option>
					<option value="jisan">Jisan Mahmud</option>
					<option value="himel">Md Ar Rafi Himel</option>
					<option value="rechel">Rechel Auditi Rema</option>
					<option value="miraz">Mirazul Islam</option>
					<option value="mousumi">Mousumi Akter</option>
					<option value="asima">Asima Tasnim</option>
					<option value="nashia">Nashia Tasnim</option>
					<option value="ananda">Raisul Abedin Ananda</option>
					<option value="tania">Tania Sultana</option>
				</select>
			</fieldset>
			<fieldset>
			  	<button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
			</fieldset>
			<p class="copyright">Designed by Mishkat Mustafid</p>
			</form>
		</div>
	</body>
</html>